
{% extends "index.html" %}

<!DOCTYPE html>

{% load static %}

{% block content %}
<html>
	<head>
		<meta charset="utf-8">
		<title>Register</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<!-- MATERIAL DESIGN ICONIC FONT -->
		<link rel="stylesheet" href="/staticfiles/admin/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">

		<!-- STYLE CSS -->
		<link rel="stylesheet" href="/staticfiles/admin/css/style2.css">
	</head>
	<body>
     
		<div class="wrapper" style="background-image: url('https://i.pinimg.com/originals/61/8f/08/618f083c61a7460ce0a6064319af41bd.gif');">
			<div class="inner">
				<div class="image-holder">
					<img src="https://66.media.tumblr.com/d49c3db1d3fb78a8fc72fd0a7edb6e48/tumblr_n7wrjeB2J81rey868o1_500.gif" alt="">
				</div>
				<form action="" method="POST">
          {% csrf_token %}
					<h3>Inicia sesion</h3>
					<div>
						<input type="text" class="form-control form-control-lg" id="usuario" name="username" type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="">
					</div>
					<br>
					<div >
						<input type="password" class="form-control form-control-lg" type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password">
					</div>
					<h2>   "LOS VIDEO JUEGOS SON ARTE"</h2>
          <br><br><br><br><br>
					<div style="display: flex; justify-content: space-between;">
            <button class="a" type="submit">login
              <a ><i class="zmdi zmdi-arrow-right"></i></a>
            </button>
          <p>"    "</p>
					
				</form>
        
        <button class"a">No tienes cuenta? Registrate!
          <a href="{% url 'register'  %}" ><i class="zmdi zmdi-arrow-right"></i></a>

        </button>
			</div>
			</div>
		</div>
		
	</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>
{% endblock %}