
{% extends "index.html" %}

<!DOCTYPE html>

{% load static %}



{% block content %}

<html>
	<head>
		<meta charset="utf-8">
		<title>Register</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<!-- MATERIAL DESIGN ICONIC FONT -->
		<link rel="stylesheet" href="/static/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">

		<!-- STYLE CSS -->
		<link rel="stylesheet" href="/static/css/style2.css">
	</head>
	<body>
     
		<div class="wrapper" style="background-image: url('https://i.pinimg.com/originals/61/8f/08/618f083c61a7460ce0a6064319af41bd.gif');">
			<div class="inner">
				<div class="image-holder">
					<img src="https://i.pinimg.com/originals/94/87/36/948736bdfe0e552efaa5229ca730c100.gif" alt="">
				</div>
				<form action="" method="POST">
					{% csrf_token %}
					<h3>Registrate</h3>
					<div>
						<input type="text" class="form-control form-control-lg" id="usuario" name="username" aria-describedby="usernameHelp" placeholder="Username" required>
					</div>
					<div>
						<input type="email" class="form-control form-control-lg" id="email" name="email" aria-describedat="emailHelp" placeholder="Email Address" required>
					</div>
					<div>
						<input type="password" class="form-control form-control-lg" id="password" name="password1" aria-describedby="password1Help" placeholder="Password" required>
					</div>
					<div>
						<input type="password" class="form-control form-control-lg" id="passwordRepeat" name="password2" aria-describedby="password2Help" placeholder="Confirm Password" required>
					</div>
					<!-- Campos adicionales -->
					<div>
						<input type="number" class="form-control form-control-lg" id="edad" name="edad" placeholder="Edad" min="10" max="100" required>
					</div>
					<div>
						<input type="text" class="form-control form-control-lg" id="juegoFavorito" name="juego_favorito" placeholder="Juego Favorito" required>
					</div>
					<div>
						<select class="form-control form-control-lg" id="plataformaFavorita" name="plataforma_favorita" required>
							<option value="">Selecciona una plataforma</option>
							<option value="Xbox">Xbox</option>
							<option value="PlayStation">PlayStation</option>
							<option value="Nintendo">Nintendo</option>
						</select>
					</div>
					<div>
						<select class="form-control form-control-lg" id="genero" name="genero" required>
							<option value="">Selecciona un género favorito</option>
							<option value="Aventura">Aventura</option>
							<option value="Plataforma">Plataforma</option>
							<option value="Acción">Acción</option>
							<option value="Estrategia">Estrategia</option>
							<option value="Deportivo">Deportivo</option>
							<option value="Terror">Terror</option>
							<option value="Rol">Rol</option>
							<option value="Musicales">Musicales</option>
						</select>
					</div>
					<div>
						<label for="sexo">Sexo:</label><br>
						<input type="radio" id="masculino" name="sexo" value="masculino" required>
						<label for="masculino">Masculino</label><br>
						<input type="radio" id="femenino" name="sexo" value="femenino" required>
						<label for="femenino">Femenino</label><br>
					</div>
					<div>
						<input type="text" class="form-control form-control-lg" id="lugarResidencia" name="lugar_residencia" placeholder="Lugar de Residencia" required>
					</div>
					<div style="display: flex; justify-content: space-between;">
					<button class="a" type="submit">Registrarse
            <a ><i class="zmdi zmdi-arrow-right"></i></a>
					</button>
					<p>"    "</p>
					
					
				</form>
        <button class"a">Ya tienes cuenta? Inicia sesion!
          <a href="{% url 'login'  %}" ><i class="zmdi zmdi-arrow-right"></i></a>
        </button>
			</div>
			</div>
		</div>
		
	</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>
{% endblock %}