
{% extends "index.html" %}


{% block content %}

<style>
 
 
  h1 {
      color: #333;
      text-align: center;
  }
  p {
      color: #666;
      font-size: 16px;
  }
  .product-details {
      border-top: 1px solid #ccc;
      margin-top: 20px;
      padding-top: 20px;
  }
  .product-details h2 {
      color: #333;
      margin-bottom: 10px;
  }
  .product-details img {
      max-width: 100%;
      height: auto;
  }
</style>

 
    
<body>
<div class="container">
  <h1>Confirmación de Compra</h1>
  <p>¡Gracias por tu compra! Tu producto será enviado pronto.</p>
  
  <div class="product-details">
      <h2>Te enviaremos los codigos de tu productos por mediante gmail</h2>
      <p>orden: #2152</p>
      <p>guardado en tu historial</p>
   
  </div>
</body>
</div>

</div>











{% endblock %}